body
{
	font-family: Verdana, Geneva, sans-serif;
	color: #FFFFFF;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	font-weight: light;
	text-align: center;
	
	/* fallback for super old browsers */
	background-color: #36aabe; 
	
	background-image: linear-gradient(to bottom right, #30eaea, #108686);
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	overflow-y: hidden;
	overflow-x: hidden;
}

li
{
	font-size: 20px;
}

html, body
{
	margin: 0;
	padding: 0;
}